<form dir="rtl" #myForm="ngForm" (submit)="OnAddProduct(myForm)">
  <label>קטגוריה:</label>
  <select name="CategoryId" (change)="onCategoryChanged(true)" [(ngModel)]="mainCategoryID">
    <ng-container *ngFor="let item of categories">
      <option *ngIf="!item.ParentId" [value]="item.CategoryId">{{item.CategoryName}}</option>
    </ng-container>
  </select>
  <br>
  <label>תת קטגוריה:</label>
  <select name="SubCategoryId" (change)="onCategoryChanged(false)" [(ngModel)]="product.CategoryId">
    <option value="-1" hidden>בחר:</option>
    <ng-container *ngFor="let item of categories">
      <option *ngIf="item.ParentId == mainCategoryID" [value]="item.CategoryId">{{item.CategoryName}}</option>
    </ng-container>
  </select>

  <br>

  <label>שם מוצר:</label>
  <input type="text" [(ngModel)]="product.ProductName" name="productName"><br><br>
  <label>תאור:</label>
  <input type="text" [(ngModel)]="product.ProductDescription" name="productDescription"><br><br>
  <!-- לא חייבתי לבחור משתמש כלשהוא -->
  <!-- <select *ngIf="UserList!=null" [(ngModel)]="product.UserId" name="UserId">
    <option value="-1" hidden>בחר את בעל החפץ:</option>
    <ng-container *ngFor="let item of UserList">
      <option [value]="item.UserId">ת"ז:{{item.UserPassword}}, שם: {{item.UserFullName}}</option>
    </ng-container>
  </select>
  <br> -->
  <input type="radio" name="kindOfPlace" value="googleMap" [(ngModel)]="kindOfPlace.options"/>
  <label >ציין מיקום במפה</label><br>
  
  <input type="radio" name="kindOfPlace" value="otherPlace"  [(ngModel)]="kindOfPlace.options">
  <label>אחר</label><br>
  <button *ngIf="kindOfPlace.options=='googleMap'" type="button" >map</button> 
  <!-- <label>address point x:</label>
  <input type="number" [(ngModel)]="product.AddressPointX" name="addressPointX"><br><br>
  <label>address point y:</label>
  <input type="number" [(ngModel)]="product.AddressPointY" name="addressPointY"><br><br> -->
  <div  *ngIf="kindOfPlace.options=='otherPlace'">
  <label>כתוב מיקום:</label>
<input type="text" name="otherPlace" [(ngModel)]="product.AddressDescription">
</div>
  <label>תאריך אבידה/מציאה:</label>
  <input type="date" [(ngModel)]="product.DateFound" name="Date"><br><br>
  <!-- <label for="lostOrFound"> בחר סוג:</label> -->
  
  <div *ngIf="parametersAreExist!=null">
    <!-- פרמטרים קיימים: -->
    <div *ngFor="let item of parametersAreExist; let i = index">
      <label>{{item.ParameterName}}</label>
      <input name="parameterExistValue-{{i}}" [(ngModel)]="ParameterOfProductAreExist[i].Value" type="text">

      <br><br>
    </div>
  </div>
  <div>
    <label>הוספת פרמטר חדש: </label>
    <div *ngFor="let item of NewParameters; let index = index">
      <label for="NewParameters-{{index}}-Name">שם</label>
      <input name="NewParameters-{{index}}-Name" [(ngModel)]="item.ParameterName" type="text">

      <label for="NewParametersd-{{index}}-Value">ערך</label>
      <input name="NewParameters-{{index}}-Value" [(ngModel)]="NewParameterOfProduct[index].Value" type="text"> <br>

    </div>
  </div>

  <!-- הגדרת סוכן חכם   -->
  <!-- <label>בחר אפשרות:</label> -->

  <input type="checkbox" name="cleverAgent" [(ngModel)]="product.CleverAgent">
  <label>אני מעונין לקבל עדכונים למייל שלי</label>
  
  <button type="submit">Edit</button>
  <button (click)="addParameter()">+</button>
</form>