<div class="body-wrapper">
  <img class="img" src="../../../assets/logo.png" alt="" />

  <form
    class="form"
    dir="rtl"
    #myForm="ngForm"
    (submit)="ngForm.valid? OnEditProduct(myForm): ''"
    (keydown.enter)="$event.preventDefault()"
  >
    <div class="right-section section">
      <!-- (keydown.enter)="$event.preventDefault()"גורם שרק לחיצה על כפתור שלח יערוך את המוצר --><mat-checkbox
        color="primary"
        name="WasDone"
        [(ngModel)]="product.WasDone"
      >
        <ng-container *ngIf="product.LostOrFound == true"
          >סמן לאישור כאשר נמצאה המציאה המתאימה לחפץ</ng-container
        >
        <ng-container *ngIf="product.LostOrFound == false">
          סמן לאשר כאשר נמצאה האבידה המתאימה לחפץ</ng-container
        >
      </mat-checkbox>

      <br />
      <br />
      <mat-form-field appearance="outline" color="primary">
        <mat-label>קטגוריה:</mat-label>
        <mat-select
          name="CategoryId"
          (change)="onCategoryChanged(true)"
          [(ngModel)]="mainCategoryID"
        >
          <ng-container *ngFor="let item of categories">
            <mat-option *ngIf="!item.ParentId" [value]="item.CategoryId">{{
              item.CategoryName
            }}</mat-option>
          </ng-container>
        </mat-select>
        </mat-form-field>
      <br />
      <mat-form-field appearance="outline" color="primary">
        <mat-label>תת קטגוריה:</mat-label>
        <mat-select
          color="primary"
          name="SubCategoryId"
          (change)="onCategoryChanged(false)"
          [(ngModel)]="product.CategoryId" >
          <mat-option value="-1" hidden>בחר:</mat-option>
          <ng-container *ngFor="let item of categories">
            <mat-option
              *ngIf="item.ParentId == mainCategoryID"
              [value]="item.CategoryId"
              >{{ item.CategoryName }}</mat-option
            >
          </ng-container>
        </mat-select>
      </mat-form-field>

      <br />

      <mat-form-field appearance="outline" color="primary">
        <mat-label>שם מוצר:</mat-label>
        <input
        required
          matInput
          type="text"
          [(ngModel)]="product.ProductName"
          name="productName" 
          #ProductName="ngModel"/>
          <mat-error *ngIf="ProductName.invalid && (ProductName.dirty || ProductName.touched)" class="alert alert-danger">
            חובה לציין שם מוצר
          </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field appearance="outline" color="primary">
        <mat-label>תאור:</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="product.ProductDescription"
          name="productDescription"
      /></mat-form-field>
    </div>

    <div class="center-section section">
      <mat-checkbox
        color="primary"
        name="cleverAgent"
        [(ngModel)]="product.CleverAgent"
        >אני מעונין לקבל עדכונים למייל שלי
      </mat-checkbox>
      <br />
      <br />
      <mat-form-field appearance="outline" color="primary">
        <mat-label
          ><ng-container *ngIf="product.LostOrFound == true"
            >תאריך אבידה:</ng-container
          >
          <ng-container *ngIf="product.LostOrFound == false"
            >תאריך מציאה:</ng-container
          ></mat-label
        >

        <input
          matInput
          type="date"
          [ngModel]="product.DateFound | date: 'yyyy-MM-dd'"
          (ngModelChange)="product.DateFound = $event"
          name="Date"
      /></mat-form-field>
      <br />

      <div *ngIf="parametersAreExist">
        <!-- פרמטרים קיימים: -->
        <div *ngFor="let item of parametersAreExist; let i = index">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>{{ item.ParameterName }}</mat-label>
            <input
              matInput
              name="parameterExistValue-{{ i }}"
              [(ngModel)]="ParameterOfProductAreExist[i].Value"
              type="text"
          /></mat-form-field>
          <br />
        </div>
      </div>

      <div *ngIf="parametersOfCategoryWithParametersOfProduct.length">
        <!-- פרמטרים קיימים על המוצר הנוכחי מוצג עד שנעשה שנוי בקטגוריה -->
        <div
          *ngFor="
            let item of parametersOfCategoryWithParametersOfProduct;
            let i = index
          "
        >
          <mat-form-field appearance="outline" color="primary">
            <mat-label>{{ item.ParameterName }}</mat-label>
            <input
              matInput
              name="ParameterOfProductValue-{{ i }}"
              [(ngModel)]="item.ParameterOfProductValue"
              type="text"
          /></mat-form-field>
          <br />
        </div>
      </div>

      <div>
        <div *ngFor="let item of NewParameters; let index = index">
          <mat-form-field appearance="outline" color="primary">
            <mat-label>שם</mat-label>
            <input
              matInput
              name="NewParameters-{{ index }}-Name"
              [(ngModel)]="item.ParameterName"
              type="text"
            />
          </mat-form-field>
          <br />
          <mat-form-field appearance="outline" color="primary">
            <mat-label>ערך</mat-label
            ><input
              matInput
              name="NewParameters-{{ index }}-Value"
              [(ngModel)]="NewParameterOfProduct[index].Value"
              type="text"
          /></mat-form-field>
          <br />
        </div>
        <button
          mat-button
          color="primary"
          type="button"
          (click)="addParameter(); trythinf()"
        >
          הוספת פרמטר חדש +
        </button>
      </div>
      <!-- הגדרת סוכן חכם   -->
      <!-- <label>בחר אפשרות:</label> -->
    </div>
    <div class="left-section section">
      <label *ngIf="product.LostOrFound == true">מקום האבידה:</label>
      <label *ngIf="product.LostOrFound == false">מקום המציאה:</label>

      <mat-radio-group [(ngModel)]="kindOfPlace.options" name="ggg">
        <mat-radio-button
          color="primary"
          name="kindOfPlace"
          value="googleMap"
          (change)="getCurrentLocation()"
        >
          ציין מיקום במפה
        </mat-radio-button>

        <mat-radio-button
          color="primary"
          name="kindOfPlacegg"
          value="otherPlace"
          >אחר</mat-radio-button
        >
      </mat-radio-group>
      <br />

      <ng-container *ngIf="kindOfPlace.options == 'googleMap'">
        <mat-form-field
          appearance="outline"
          class="googleInput"
          color="primary"
        >
          <input
            matInput
            matGoogleMapsAutocomplete
            [country]="il"
            [ngModel]="googleAddress"
            name="googleAddress"
            (onAutocompleteSelected)="onAutocompleteSelected($event)"
            (onLocationSelected)="onLocationSelected($event)"
          />
        </mat-form-field>

        <div class="map-wrapper">
          <agm-map
            [latitude]="latitude"
            [longitude]="longitude"
            [zoom]="zoom"
            (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
          >
            <agm-marker
              [latitude]="latitude"
              [longitude]="longitude"
              [opacity]="1"
              [markerDraggable]="true"
              (markerClick)="selectMarker($event)"
              (dragEnd)="markerDragEnd($event)"
            >
              <!-- markerDraggable - האם אפשר לגרור -->
            </agm-marker>
            <agm-rectangle
              [north]="max('lat')"
              [east]="max('lng')"
              [south]="min('lat')"
              [west]="min('lng')"
            >
            </agm-rectangle>
          </agm-map>
        </div>
        <hr />
        <!-- <p *ngIf="selectedMarker">
              Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
            </p> -->
      </ng-container>

      <div *ngIf="kindOfPlace.options == 'otherPlace'">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>כתוב מיקום:</mat-label>
          <input
            matInput
            type="text"
            name="otherPlace"
            [(ngModel)]="product.AddressDescription"
          />
        </mat-form-field>
      </div>
    </div>
  </form>

  <button class="btn" mat-flat-button color="primary" type="submit">
    ערוך
  </button>

  <button
    mat-flat-button
    color="primary"
    *ngIf="product.LostOrFound"
    [routerLink]="['/user-info/' + product.UserId + '/user-losts']"
  >
    חזרה לאבדות
  </button>
  <button
    mat-flat-button
    color="primary"
    *ngIf="!product.LostOrFound"
    [routerLink]="['/user-info/' + product.UserId + '/user-founds']"
  >
    חזרה למציאות
  </button>
</div>
