<div class="body-wrapper">
  <img class="img" src="../../../assets/logo.png" alt="">
  <div class="page-title">הרשמה</div>
  <form #RegisterForm="ngForm" (ngSubmit)="OnRegister()">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>שם: </mat-label>
      <input type="text" matInput color="primary" #userFullName="ngModel" name="userFullName"
        [(ngModel)]="user.userFullName" required />
      <mat-error *ngIf="userFullName.invalid && (userFullName.dirty || userFullName.touched)"
        class="alert alert-danger">
        חובה לציין שם
      </mat-error>
      <!-- <br /><br /> -->
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>סיסמא:</mat-label>
      <input type="password" matInput color="primary" #userPassword="ngModel" name="userPassword"
        [(ngModel)]="user.userPassword" required />
      <mat-error *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)"
        class="alert alert-danger">
        חובה לציין סיסמא
      </mat-error>
      <!-- <br /><br /> -->
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>כתובת: </mat-label>
      <input type="text" matInput color="primary" #userAdress="ngModel" name="userAddress"
        [(ngModel)]="user.userAddress" />
    </mat-form-field>
    <br /><br />
    <mat-form-field appearance="outline" color="primary">
      <mat-label>מייל: </mat-label>
      <input type="email" matInput color="primary" ngModel email name="userEmail" [(ngModel)]="user.userEmail" />
      <mat-error class="alert alert-danger">
        מייל לא חוקי
      </mat-error>
    </mat-form-field>
    <br /><br />
    <mat-form-field appearance="outline" color="primary">
      <mat-label>טלפון: </mat-label>
      <input type="text" matInput color="primary" #userPhone="ngModel" name="userPhone" [(ngModel)]="user.UserPhone"
        ng-model="noneSelected" required />
      <mat-error *ngIf="userPhone.invalid && (userPhone.dirty || userPhone.touched)" class="alert alert-danger">
        חובה לציין טלפון
      </mat-error>
      <!-- <br /><br /> -->
    </mat-form-field>
    <!-- <div *ngIf="roleId != null && roleId == 1" >
    <input type="radio" name="RoleId" value="2" [(ngModel)]="user.RoleId"  />
    <label for="2">מוקדן</label>
    <br><br>
    <input type="radio" name="RoleId" value="3" 
      checked="checked" />
    <label for="3" >משתמש רגיל</label>
  </div> -->
  <br /><br />
    <button class="btn" mat-flat-button type="submit" [disabled]="!RegisterForm.form.valid">הרשמה</button>
    <button class="btn" mat-flat-button routerLink="/login">חזרה לעמוד כניסה</button>
  </form>
</div>