

<div class="body-wrapper">
  <img class="img" src="../../../assets/logo.png" alt="" />
  <h1 class="page-title">ההתאמות שנמצאו לחיפושך</h1>

  <div class="tables-wrapper" *ngIf="matches.length">
    <div class="example-table-container">
      <table mat-table [dataSource]="matches" class="mat-elevation-z8">
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>שם החפץ</th>
          <td mat-cell *matCellDef="let element">{{ element.ProductName }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>קטגוריה</th>
          <td mat-cell *matCellDef="let element">{{ element.CategoryName }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>שם בעל החפץ</th>
          <td mat-cell *matCellDef="let element">{{ element.UserName }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>טלפון בעל החפץ</th>
          <td mat-cell *matCellDef="let element">{{ element.UserPhone }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>
            תאור החפץ
          </th>

          <td mat-cell *matCellDef="let element">
            {{ element.ProductDescription }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>תאריך</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="flag == true">{{ element.DateFound | date: "dd/MM/yyyy" }}
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="place">
          <th mat-header-cell *matHeaderCellDef>
            טלפון בעל החפץ
          </th>
          <td mat-cell *matCellDef="let element">
            {{ addressesProduct[index] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.UserEmail != null && allowToSendEmail == true">
              <button class="category-action" mat-flat-button color="primary" (click)="sendEmail(product.UserEmail)">
                שלח מייל לבעל החפץ
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

  <button mat-flat-button color="primary" *ngIf="roleId == 1" routerLink="/add-category">
    להוספת קטגוריה
  </button>
  <button mat-flat-button color="primary" [routerLink]="['/every-one-options']">
    חזרה לעמוד קודם
  </button>
</div>