<div class="body-wrapper">
    <img class="img" src="../../../assets/logo.png" alt="">
<h1>משתמשים</h1>
<button mat-flat-button color="primary"[routerLink]="['/user-list']">צפיה ברשימת משתמשים</button><br><br>
<button mat-flat-button color="primary" [routerLink]="['/add-mokdan-or-user']">הוספת משתמש</button><br><br>
<button mat-flat-button color="primary" [routerLink]="['/add-mokdan-or-user']" *ngIf="roleId==1">הוספת מוקדן</button><br><br>
<h1>אבדות מציאות</h1>
<button mat-flat-button color="primary" [routerLink]="['/user-info',0]">צפיה באבדות/מציאות</button><br><br>
<button mat-flat-button color="primary" [routerLink]="['/product']">הוסף חפץ</button>
<button mat-flat-button color="primary" *ngIf="roleId==1" [routerLink]="['/category-list']">צפיה ברשימת הקטגוריות</button><br><br>
<button mat-flat-button color="primary" *ngIf="roleId==1"  [routerLink]="['/parameter-list']"> צפיה ברשימת הפרמטרים</button>
<!--<button routerLink="/user-list">צפיה ברשימת משתמשים</button><br><br>!-->
</div>