<h1>משתמשים</h1>
<button routerLink="/user-list">צפיה ברשימת משתמשים</button><br><br>
<button routerLink="/add-mokdan-or-user">הוספת משתמש</button><br><br>
<button routerLink="/add-mokdan-or-user">הוספת מוקדן/משתמש</button><br><br>
<h1>אבדות מציאות</h1>
<button routerLink="/user-info">צפיה באבדות/מציאות/התאמות</button><br><br>
<button routerLink="/product">להוספת מוצר</button><br><br>
 <button routerLink="/category">לקטגוריות</button><br><br>
<!--<button routerLink="/user-list">צפיה ברשימת משתמשים</button><br><br>
<button routerLink="/user-list">צפיה ברשימת משתמשים</button><br><br> -->
