<form #myForm="ngForm" (ngSubmit)="OnLogin(myForm)">
  <!-- <label>שם משתמש:</label>
  <input type="text" ngModel name="UserRecognizeName"><br><br>
  <<label>ת"ז:</label>
  <input type="password" ngModel name="UserPassword"><br><br> -->

  <mat-form-field  appearance="outline" color="accent">
      <mat-label>הקש טלפון:</mat-label>
    <input matInput type="text" color="accent" ngModel name="UserPhone">
  </mat-form-field>

    <button type="submit" mat-flat-button color="accent">כניסה</button>

  <button type="button" mat-flat-button color="accent" routerLink="/register" *ngIf="!isManager">משתמש חדש? הרשם עכשיו</button>

</form>