<div class="body-wrapper">
  <img class="img" src="../../../assets/logo.png" alt="" />
  <div class="page-title">הוספת קטגוריה</div>
  <form
    #AddCategoryForm="ngForm"
    (ngSubmit)="AddCategoryForm.valid ? OnAddCategory() : ''"
  >
    <mat-form-field appearance="outline" color="primary">
      <mat-label>שם קטגוריה:</mat-label>
      <input
        type="text"
        matInput
        color="primary"
        #CategoryName
        name="CategoryName"
        [(ngModel)]="category.CategoryName"
        required
      />
      <mat-error>
        חובה לציין שם קטגוריה
      </mat-error>
    </mat-form-field>

    <br /><br />
    <!-- //לעשות שיבחר מרשימה -->
    <!-- <input type="number" #ParentId name="ParentId" [(ngModel)]="category.ParentId" /><br><br> -->
    <mat-form-field appearance="outline" color="primary">
      <mat-label>קטגורית אב:</mat-label>
      <mat-select name="ParentId" [(ngModel)]="category.ParentId">
        <ng-container *ngFor="let item of categories">
          <mat-option *ngIf="!item.ParentId" [value]="item.CategoryId">
            {{ item.CategoryName }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <br /><br />

    <button mat-flat-button color="primary" type="submit">הוסף</button>
  </form>

  <br /><br />
  <button mat-flat-button color="primary" [routerLink]="['/category-list']">
    חזרה לרשימת הקטגוריות
  </button>
</div>
