<form #AddMokdanOrUserForm="ngForm" (ngSubmit)="OnAddMokdanOrUser()">
  <label>שם:</label>
  <input type="text" #UserFullName name="UserFullName" [(ngModel)]="user.UserFullName" required/><br><br>
  <!-- להוסיף הודעה חובה לציין שם -->
  <label>סיסמא:</label>
  <input type="password" #UserPassword name="UserPassword" [(ngModel)]="user.UserPassword" required/><br><br>
  <label>כתובת: </label>
  <input type="text" name="UserAddress" [(ngModel)]="user.UserAddress" /><br><br>
  <label>מייל: </label>
  <input type="email" name="UserEmail" [(ngModel)]="user.UserEmail" /><br><br>

  <label>טלפון: </label>
  <input type="text" #UserPhone name="UserPhone" [(ngModel)]="user.UserPhone" required/><br><br>
  <div *ngIf="roleId != null && roleId == 1" >
    <input type="radio" name="RoleId" [value]="2" [(ngModel)]="user.RoleId"  />
    <label for="2">מוקדן</label>
    <br><br>
    <input type="radio" name="RoleId" [value]="3" [(ngModel)]="user.RoleId" 
       />
    <label for="3" >משתמש רגיל</label>
  </div>
 <input type="submit" value="הוסף" [disabled]="!AddMokdanOrUserForm.form.valid"> 

</form>
<button [routerLink]="['/every-one-options']">חזרה לעמוד קודם</button>
