<!-- <from >
    <label>שם מלא: </label>
    <input type="text" name="userFullName" [(ngModel)]="user.userFullName" /><br><br>
    <label>תעודת זהות:</label>
    <input type="password" name="userPassword" [(ngModel)]="user.userPassword" /><br><br>
    <label>שם זהוי המשתמש:</label>
    <input type="text" name="userRecognizeName" [(ngModel)]="user.userRecognizeName" /><br><br>
    <label>כתובת: </label>
    <input type="text" name="userAddress" [(ngModel)]="user.userAddress" /><br><br>
    <label>מייל: </label>
    <input type="email" name="userEmail" [(ngModel)]="user.userEmail" /><br><br>
  
    <label>טלפון: </label>
    <input type="text" name="userPhone" [(ngModel)]="user.UserPhone" /><br><br>
    
</from> -->
<p>
  work
</p>