<div class="body-wrapper">
  <img class="img" src="../../../assets/logo.png" alt="" />
  <div class="page-title">עריכת משתמש</div>
  <form
    #myForm="ngForm"
    (ngSubmit)="OnUpdateEditUser()"
    (keydown.enter)="$event.preventDefault()"
  >
    <mat-form-field appearance="outline" color="primary">
      <mat-label>שם: </mat-label>
      <input
        matInput
        color="primary"
        type="text"
        name="UserFullName"
        [(ngModel)]="user.UserFullName"
        required
        value="{{ user.UserFullName }}"
        #userFullName="ngModel"
      />
      <mat-error
        *ngIf="
          userFullName.invalid && (userFullName.dirty || userFullName.touched)
        "
        class="alert alert-danger"
      >
        חובה לציין שם
      </mat-error>
      <!-- <br /><br /> -->
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>סיסמא:</mat-label>
      <input
        matInput
        color="primary"
        #userPassword="ngModel"
        type="number"
        name="UserPassword"
        [(ngModel)]="user.UserPassword"
        required
        value="{{ user.UserPassword }}"
      />
      <mat-error
        *ngIf="
          userPassword.invalid && (userPassword.dirty || userPassword.touched)
        "
        class="alert alert-danger"
      >
        חובה לציין סיסמא
      </mat-error>
      <!-- <br /><br /> -->
    </mat-form-field>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>כתובת: </mat-label>
      <input
        matInput
        color="primary"
        #userAdress="ngModel"
        type="text"
        name="UserAddress"
        [(ngModel)]="user.UserAddress"
        value="{{ user.UserAddress }}"
      />
    </mat-form-field>
    <br /><br />

    <mat-form-field appearance="outline" color="primary">
      <mat-label>מייל: </mat-label>
      <input
        matInput
        type="email"
        ngModel
        email
        name="UserEmail"
        [(ngModel)]="user.UserEmail"
        value="{{ user.UserEmail }}"
      />
      <mat-error class="alert alert-danger">
        מייל לא חוקי
      </mat-error>
    </mat-form-field>
    <br /><br />

    <mat-form-field appearance="outline" color="primary">
      <mat-label>טלפון: </mat-label>
      <input
        matInput
        color="primary"
        #userPhone="ngModel"
        name="userPhone"
        type="text"
        name="UserPhone"
        [(ngModel)]="user.UserPhone"
        required
        value="{{ user.UserPhone }}"
      />
      <mat-error
        *ngIf="userPhone.invalid && (userPhone.dirty || userPhone.touched)"
        class="alert alert-danger"
      >
        חובה לציין טלפון
      </mat-error>
      <!-- <br /><br /> -->
    </mat-form-field>

    <div *ngIf="roleId != null && roleId == 1">
      <input type="radio" name="RoleId" [value]="2" [(ngModel)]="user.RoleId" />
      <!-- [checked]="u.RoleId==2?'checked':''" -->
      <label for="2">מוקדן</label>
      <br /><br />
      <input type="radio" name="RoleId" [value]="3" [(ngModel)]="user.RoleId" />
      <label for="3">משתמש רגיל</label>
    </div>
    <button class="btn" mat-flat-button [disabled]="!myForm.form.valid">
      שמור
    </button>
  </form>
  <button
    class="btn"
    mat-flat-button
    *ngIf="roleId == 3"
    [routerLink]="['/user-info/' + user.UserId]"
  >
    חזרה לדף האישי
  </button>
  <button
    class="btn"
    mat-flat-button
    *ngIf="roleId != 3"
    [routerLink]="['/user-list']"
  >
    חזרה לרשימת המשתמשים
  </button>
</div>
