.mat-elevation-z8 {
  width: 100%;
  background: #f7f0f036 !important;
}

.example-table-container {
  position: relative;
  max-height: 46vh;
  width: 90%;
  overflow: auto;
  border: 7px solid #0e819385;
  margin: auto;
}

th {
  text-align: center !important;
}

/* .body-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 3%;
}

.img {
  margin-bottom: 2%;
  width: 14%;
} */

.page-title {
  margin-bottom: 2%;
}

.btn {
  margin-top: 1%;
}
