<div class="body-wrapper">
  <img class="img" src="../../../assets/logo.png" alt="" />
  <label *ngIf="roleId == 3">שלום לך {{ userName }}</label>
  <button class="btn" mat-flat-button [routerLink]="['user-losts']">
    אבידות
  </button>
  <button class="btn" mat-flat-button [routerLink]="['user-founds']">
    מציאות
  </button>
  <button class="btn" mat-flat-button (click)="directToAddProduct()">
    הוסף חפץ
  </button>
  <button
    class="btn"
    *ngIf="!userId"
    mat-flat-button
    [routerLink]="['/user-edit', userId]">
    ערוך פרטיך
  </button>
  <button
    class="btn"
    mat-flat-button
    *ngIf="roleId != 3"
    [routerLink]="['/every-one-options']"
  >
    יציאה מהמשתמש
  </button>

  <router-outlet></router-outlet>
</div>
